.text-blue{
    color: skyblue;
}
.text-pink{
    color: rgb(255, 192, 203);
}
.text-weight{
    font-weight: bold;
}

h1{
    text-align: center;
    letter-spacing: 1.2em;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);;
    border-bottom: solid 3px rgb(115, 115, 114);
}
h2{
    text-align: center;

}
p{
    text-align: center;    
}